<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="h-100% w-100% flex flex-col justify-center items-center  ">
    <div class="w-3/12 h-98 ml-10 mb-10  mt-10 rounded-2xl border-2 border-indigo-500 border-solid leading-10 font-sans text-center bg-orange-100">
        <form class="pb-12 rounded-2xl" action="/Profile/signup" method="post">
            <h1 class="  font-bold text-xl m-2 bg-orange-400 h-12 text-center rounded-2xl">SIGN UP</h1>
            <br>
            <input type="text" name="username" placeholder="Username" required  class=" flex justify-center items-center ml-10 w-4/5 h-12 rounded-2xl border-2 border-black border-solid">
            <br>
            <input type="text" name="name" placeholder="Name" required class=" flex justify-center items-center ml-10 w-4/5 h-12 rounded-2xl border-2 border-black border-solid">
            <br>
            <input type="text" name="Branch" placeholder="Branch" required class=" flex justify-center items-center ml-10 w-4/5 h-12 rounded-2xl border-2 border-black border-solid">
            <br>
            <input type="email" name="Email" placeholder="Email" required class=" flex justify-center items-center ml-10 w-4/5 h-12 rounded-2xl border-2 border-black border-solid">
            <br>
            <input type="password" name="password" placeholder="Password" required class=" flex justify-center items-center ml-10 w-4/5 h-12 rounded-2xl border-2 border-black border-solid">
             <br>
            <button class="bg-sky-500/100  w-4/5 mt-10 rounded-2xl ">SIGN UP</button>
            
        </form>
    </div>
</body>
</html>