@import "tailwindcss";

:root {
  --background: #f8f7f3;
  --foreground: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}