@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    background-color: rgb(248,247, 243);
    height: 280rem;
}

.container{
    margin-top: 30px;
    position: sticky;
    top: 0;
    background-color: rgb(248,247, 243);
}


.navigation, .profile-container{
    
    /* max-width:85vw;
    margin: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
          

}
.nav{
    
    display: flex;
    gap: 3rem;
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    margin-top: 10px;
    
}
.logo4{
    display: flex;
    justify-content: center;
    align-items: center;
}
 b{
   font-family: "Inter", sans-serif;
   font-weight: 600;
   font-size: 30px;
   color: #ff9843;
   
 }



#btn1{
    
    height: 35px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6643;
    color: white;
}

.but{
    margin-left:100px;
    margin-top: 30px;
}

.logoimg{
    width:150px;
}

a{
    text-decoration: none;
    color: black;
}

.container2{
    max-width: 85vw;
    margin: auto;
    margin-top: 5rem;
    display: flex;
   
    
}

.span1{

    max-width: 65vw;
   line-height: 90px;
   font-family: "Inter", sans-serif;

}

#line1{
    font-weight: 600;
    font-size: 30px;
    color: #FF6643;
}
.text{
    color: black;
}

#line2{
    font-size: 85px;
    font-weight: 600;
    animation: typing 2.5 steps(32),
    cursor .4s step-end infinite alternate;
}
@keyframes cursor{
    50%{
        border-color: transparent;
    }
}
@keyframes typing{
    from{
        width: 0;
    }

}
#line3{
    margin-top:35px;
    display: flex;
   
    box-shadow: 3px 3px black, -1em 0 .4em,black;
    
}
#search1{
    padding-left: 50px;
    padding-right: 250px;
    padding-top: 25px;
    padding-bottom:25px ;
    border-radius: 40px;
    font-weight: bolder;
    border: 1px solid white;
    color: gray;
}
#btn2{
    
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 40px;
    border: 1px solid white;
    color: white;
    background-color: #FF6643;
    font-weight: bolder;
}

.img2{
    display: flex;
    margin-bottom: 5rem;
    margin-left: 90px;
    
}

.img2 img{
    width: 550px;
    position: relative;
    bottom: 70px;
}


.mode{
    height: 35px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6643;
    color: white;
}


/* Reset some default styles */
.ourprogram, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
.ourprogram {
    max-width: 85vw;
    margin: auto;
    font-family:"Inter", sans-serif ;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    border-radius: 20px;
}

header {
    background-color: #FF6643;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
}

header h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

.feature {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

.feature .icon {
    margin-right: 1.5rem;
}

.feature img {
    width: 50px;
    height: 50px;
}

.feature h2 {
    margin-top: 0;
}

.tips{
    max-width: 85vw;
    margin: auto;
    margin-top: 150px;
    font-family: "Inter", sans-serif;
}

.tip1{
font-weight: 500;
font-size: 20px;
color: #FF6643;
}

.tip2{
    font-weight: bolder;
    font-size: 60px;
}

.tip3{
    color: rgb(71, 70, 70);
}

.box{
    max-width: 85vw;
    margin-top: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    text-align: center;
    border-radius: 20px;
    border: none;

   
}
.box img {
  border-radius: 20px;
}


.box img:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.box1 {
    height: 300px;
    width: 300px;
    border: 1px solid white;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  

    
}



.box2{
    height: 300px;
    width: 300px;
    border: 1px solid white;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.box3{
    height: 300px;
    width: 300px;
    border: 1px solid white;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.box4{
    height: 300px;
    width: 300px;
    border: 1px solid white;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    
}

.overlay{
    width: 300px;
    height:50px ;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #FF6643;
    font-weight: bolder;
}

.title{
    font-family: "Inter", sans-serif ;
    max-width: 85vw;
    margin: auto;
    margin-top: 30px;
    display: flex;
    gap: 12.5rem;
    font-weight: bolder;
}

.title2{
    font-family: "Inter", sans-serif ;
    max-width: 85vw;
    margin: auto;
    margin-top: px;
    display: flex;
    gap: 2rem;

}

.title3{
    max-width: 85vw;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    
    
}

.btn5{
    padding:10px ;
    border-radius: 10px;
    color: white;
    background-color: #FF6643;
    font-weight: bolder;
    border-style: none;
    display: flex;
    gap: 17rem;

}

   

.b1{
    text-align: center;
    margin-top: 50px;
    font-family:  "Inter", sans-serif;
    
}

#b{
    font-size: 60px;
    font-weight: bolder;

}

#b3{
    line-height: 10px;
    font-family:"Inter", sans-serif ;
    font-size: bold;
}
.bulb{
    max-width:90vw;
    margin: auto;
    margin-top: 150px;
    height: 95vh;
    border: 1px solid white;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn1{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    margin-left: 0;
    justify-content: end;
    gap: 1rem;
}
/* /* /* .profile-container {
    margin-right: 30px;
    /* margin-left: 30px;
} */
.profile-circle{
    width: 40px;
    height: 40px;
    background-color: #FF6643;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0;
    margin-right: 60px;
    border: none;
}
#profileCircle{
    margin-top: 0;
}

#btn1 {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
}
#btn3{
    height: 35px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6643;
    color: white;
}
.profile-circle {
    display: none;
    margin-top: 10px;
}
.logout-box {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 
.btn2{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    margin-top: 100px;
    display: flex;
}

.sec1{
    margin-top: 200px;
    text-align: center;
    font-family:"Inter", sans-serif ;
    line-height: 54px;

}

#t1{
    font-weight: 600;
    color: #FF6643;
    
}
#t2{
 font-weight: bolder;
 font-size: 60px;
}
#t3{
 color: rgb(62, 62, 62)
}
footer{
    color: black;
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    margin: 150px auto;
}
.footer1{
    font-family:"Inter", sans-serif;
    padding-top: 34px;
    padding: 20px;
    color: black
}
a{
    color: black
}
.footer2{
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    transition: all 1s ease-out;
}  
.footer2 a:hover{
   color:#333;
}
ul{
    list-style: none;
    font-family:"Inter", sans-serif ;
    font-weight: 400;
    font-size: 14px;
   
}
.footer2 ul li a {
    text-transform: capitalize;
    margin-bottom: 10px;
    color: black;
    line-height: 2.5;

}
.net{
    text-decoration: none;
}
/* .english select{
    padding:8px 30px ;
    font-weight: bolder;
    background-color: #FF6643;
    color: black;
    border-radius: 4px;
    border: 1px solid white;
    margin:  10px;
    margin-left:0;

} */

.button{
    max-width: 80vw;
    margin: auto;
    height: 200px;
    border: 1px solid white;
    border-radius: 90px;
    display: flex;
    justify-content: end;
    align-items: center;
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    box-shadow: 3px 3px black, -1em 0 .4em,black;
    
}
.line4{
    margin-top:35px;
    display: flex;
   
    box-shadow: 3px 3px black, -1em 0 .4em,black;
    
}

.text5{
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 35px;

}

.select1{
    
        padding:8px 30px ;
        font-weight: bolder;
        background-color: #FF6643;
        color: white;
        border-radius: 4px;
        border:none;
        margin:  10px;
        margin-left:0;

}

/* styles.css */

@media screen and (max-width: 1024px) and (min-width: 601px) {
    .navigation {
        flex-direction: row;
    }

    .nav {
        gap: 2rem;
    }

    .container2 {
        flex-direction: row;
    }

    .img2 img {
        width: 90%;
    }

    .box {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .box1, .box2, .box3, .box4 {
        width: 45%;
        height: auto;
    }
}


    @media screen and (max-width: 400px) {
        body{
         height: 350rem;
        }
        .navigation {
            flex-direction: column;
            align-items: center;
        }

        #search1{
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 15px;
            padding-bottom:15px ;
            border-radius: 40px;
            font-weight: bolder;
            border: 1px solid white;
            color: gray;
            
        }
        #btn2{
            
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 40px;
            border: 1px solid white;
            color: white;
            background-color: #FF6643;
            font-weight: bolder;
        }
    
        .nav {
            flex-direction: column;
            gap: 1rem;
        }
    
        .container2 {
            flex-direction: column;
            align-items: center;
        }

        .feature {
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 1.5rem;
            padding: 1rem;
            display: flex;
            align-items: center;
        }
        
        .feature .icon {
            margin-right: 30px;
        }
        
        .feature img {
            width: 50px;
            height: 50px;
        }
         h1, h2, p {
            margin: 0;
            padding: 0;
        }
        
        /* Basic styling */
        .ourprogram {
            max-width: 100%;
            margin: auto;
            font-family:"Inter", sans-serif ;
            line-height: 1;
            color: #333;
            background-color: #f4f4f4;
            border-radius: 20px;
        }
        
        .feature h2 {
            margin-top: 0;
            height: 10px;
        }
         
        .para{
            margin-top: 10px;
            font-size: 16px;
            line-height: 20px;
            color: #666;
            margin-left: 10px;
        }

        .bulb{
            max-width:90vw;
            margin: auto;
            margin-top: 150px;
            height: 85vh;
            border: 1px solid white;
            background-color: whitesmoke;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        .img2 img {
            width: 100%;
            position: relative;
            bottom: 0;
        }

        .img3 img{
            width: 100px;
            height: 200px;
        }
    
        .box {
            flex-direction:column;
            gap: 2rem;
        }
    
        .box1, .box2, .box3, .box4 {
            width: 100%;
            margin: auto;
            margin-top: 40px;
        }
        .overlay{
            margin-left: 0;;
        }
    
        .title {
            flex-direction: column;
            gap: 1rem;
        }
        .sec1{
            display: block;
            margin-top: 200px;
            text-align: center;
            font-family:"Inter", sans-serif ;
            line-height: 44px;
        
        }
        .img3 img{
            width: 400px;
        }
        #t1{
            font-weight: 300;
            color: #FF6643;
            
        }
        
        #t2{
         font-weight: bolder;
         font-size: 30px;
        }
        #t3{
         color: rgb(62, 62, 62)
        }
    
        .btn5 {
            gap: 0;
        }

        footer{
            display: flex;
            flex-direction: column;
        }
        .text5{
            font-family: "Inter", sans-serif;
            font-weight: bold;
            font-size: 25px;
        
        }
        .button{
            max-width: 100%;
            
            height: 100px;
            border: 1px solid white;
            border-radius: 90px;
            
            background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            ;
            box-shadow: 3px 3px black, -1em 0 .4em,black;
            
        }
        .line4{
            margin-top:35px;
           
            box-shadow: 3px 3px black, -1em 0 .4em,black;
            
        }
        .btn2{
            height: 200px;
            width: 200px;
            border: 1px solid black;
            margin-top: 100px;
            
        }

        .sec1{
            margin-top: 1000px;
            text-align: center;
            font-family:"Inter", sans-serif ;
            line-height: 54px;
        
        }
        
        #line1{
            font-weight: 600;
            font-size: 30px;
            color: #FF6643;
        }
        .text{
            color: black;
            font-size: 20px;
            font-weight: 300;
        }
         
        .button{
            max-width: 100%;
            margin-top: 60px;
            margin: auto;
            height: 100px;
            border: 1px solid white;
            border-radius: 90px;
            display: flex;
            justify-content: end;
            align-items: center;
            background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            ;
            box-shadow: 3px 3px black, -1em 0 .4em,black;
            
        }

        .line4{
           
            display: flex;
           
            box-shadow: 3px 3px black, -1em 0 .4em,black;
            
        }
        
        .text5{
            font-family: "Inter", sans-serif;
            font-weight: bolder;
            font-size: 10px;
        
        }

        #search1{
            padding-left: 1px;
            padding-right: 1px;
            padding-top: 10px;
            padding-bottom:10px ;
            border-radius: 20px;
            font-weight: bolder;
            border: 1px solid white;
            color: gray;
        }
        #btn2{
            
            padding-left: 1px;
            padding-right: 1px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 20px;
            border: 1px solid white;
            color: white;
            background-color: #FF6643;
            font-weight: bolder;
        }
        
        
    }